* {
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: #1F2937;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 200px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-main {
    color: white;
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    gap: 24px;
    max-height: 250px;

}

.hero-content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
}

.hero-image {
    flex: 1 1 0;
    min-width: 0;
    max-width: 600px;   
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.sec-text {
    font-size: 18px;
    color: #E5E7EB;
}


ul {
    margin: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    color: white;
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
    
}

.title {
    color: #1F2937;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    margin: 50px;
}

.info {
    display: flex;
    margin: 50px 100px;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.tile {
    width: 176px;
    height: 176px;
    border: 5px solid #3882f6 ;
    border-radius: 16px;
}

.text {
    width: 176px;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.section-one {
    padding: 20px 0 100px;
}

.section-two {
    background-color: #E5E7EB;
    padding: 100px 450px; 
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    text-align: end;
    font-weight: 900;
}

.modal {
    background-color: #3882f6;
    display:flex;
    justify-content: space-between;
    padding: 50px 50px;
    margin: 120px 300px;
    border-radius: 8px;
    align-items: center;
}

.modal-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.modal-button {
    border: 2px solid #F9FAF8;        
    width: 150px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 800;
    height: 40px;
}

.modal-text {
    max-width: 500px;
}

.button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
    border-radius: 5px;
    width: 120px;
    padding: 5px 20px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 50px;
    margin: 0;
}