* {
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: #1F2937;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 100px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-main {
    color: white;
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
    gap: 24px;
    max-height: 250px;

}

.hero-content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-image {
    flex: 1 1 0;
    min-width: 0;   
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.sec-text {
    font-size: 18px;
    color: #E5E7EB;
}


ul {
    margin: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    color: white;
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

button {
    width: 100px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
    border-radius: 5px;

}

